
body {
  font-family: 'メイリオ', Meiryo;
  text-align: center;
  padding: 20px;
}

.responsive-img {
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 25px;
  padding: 10px 20px;
  margin: 10px;
}

.linegroup {
  padding: 5%;
}

.linebutton {
  width: 550px;
  height: 50px;
  border: 4px solid black;
  border-radius: 5px;
  margin: 10px auto;
  font-size: large;
  font-weight: bold;
  background-color: white;
  color: #000;
}

.linebutton:active {
  transform: none; /* クリック時のサイズ変化を防ぐ */
}

#postToX {
  margin: 0 auto 20px; 
  display: block; 
}


.confirmed {
  pointer-events: none;
}

#toggle-history {
  padding: 10px 0 10px;
}

#history {
  margin-top: 30px;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
}

footer {
  padding: 50px;
  text-align: center;
}